.vacancy-wrapper{
    width: 100%;
    background: url("../assets/images/pattern.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vacancy-img{
    position: relative;
    width: 100%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.vacancy-img-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiring{
    margin-top: 70px;
    padding: 40px;
    font-family: gilory;
    font-size: 50px;
    border-radius: 10px;
    color:  rgba(7, 0, 0, 0.808);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background: rgba(255, 255, 255, 0.33);
}

.vacancy-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vacancy-info{
    width: 80%;
    border-radius: 15px;
    background: #faf3ed;
    margin: 50px;
    padding: 30px;
    font-family: dejavu;
    white-space: pre-wrap;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.vacancy-info p{
    font-size: 16px;
    font-weight: 900;
}

.vacancy-info h1{
    position: center;
    font-size: 32px;
    font-weight: 900;
    color: #e29f4f;
}

.vacancy-info h2{
    font-size: 19px;
    font-weight: 900;
    color: #e29f4f;
}

.vacancy-info h4{
    font-size: 19px;
    font-weight: 900;
    color: #b64826;
}

.vacancy-info li{
    font-size: 16px;
    font-weight: 900;
    color: #ff2525;
}

.vacancy-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.vacancy-form-wrapper button{
    border-radius: 5px;
    font-family: gilory;
    font-size: 20px;
    cursor: pointer;
    height: 45px;
    padding: 6px 13px 6px 13px;
    margin: 30px;
    text-align: center;
    background: #d8a975;
    border: none;
    color: #fff;
    transition: 0.25s;
}

.vacancy-form-wrapper button:hover{
    background: #e19f4e;
    color: #4c4c4d;
}

.vacancy-form{
    max-height: 0;
    overflow: hidden;
}

.vacancy-form.show{
    max-height: 9999px;
    height: auto;
}

.vacancy-form input,.vacancy-form textarea,.vacancy-form select{
    display: block;
    font-family: dejavu;
    width: 350px;
    height: 45px;
    border: #666769 2px solid;
    border-radius: 5px;
    color: inherit;
    outline: none;
}

.vacancy-form input:focus,.vacancy-form textarea:focus,.vacancy-form select:focus{
    border: #e29f4f 2px solid;
}

.vacancy-form label{
    font-weight: 900;
    margin: 10px 25px 10px 25px;
}
.vacancy-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vacancy-inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media (max-width: 1050px) {
    .vacancy-img{
        height: 200px;
    }
    .vacancy-info{
        margin: 25px;
        padding: 20px;
        width: 90%;
    }
    .vacancy-info p{
        font-size: 13px;
    }
    .vacancy-info h1{
        font-size: 26px;
    }
    .vacancy-info h2{
        font-size: 15px;
    }
    .vacancy-info li{
        font-size: 13px;
    }

    .hiring{
        margin-top: 40px;
        padding: 30px;
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .vacancy-form input,.vacancy-form textarea,.vacancy-form select{
        width: 250px;
        height: 40px;
    }
    .vacancy-form-wrapper button{
        font-size: 15px;
        height: 35px;
    }
}