.auth-wrapper{
    width: 100%;
    height: 600px;
    background: url("../assets/images/pattern.svg");
    display: flex;
    justify-content: center;
    font-family: gilory;
    color: #4c4c4d;
}

.auth-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 15px;
    background: #faf3ed;
    margin-top: 50px;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;}

.auth-wrapper input{
    font-family: dejavu;
    width: 350px;
    height: 45px;
    border: #666769 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    color: inherit;
    outline: none;
}

.auth-wrapper input:focus{
    border: #e29f4f 2px solid;
}

.auth-wrapper h2{
    width: 100%;
    text-align: left;
}

.auth-wrapper hr{
    width: 100%;
    margin-bottom: 30px;
}

.auth-wrapper button{
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    width: 350px;
    height: 45px;
    padding: 6px 13px 6px 13px;
    margin-bottom: 30px;
    text-align: center;
    background: #d8a975;
    border: none;
    color: #fff;
    transition: 0.25s;

}

.auth-wrapper button:hover{
    background: #e19f4e;
    color: #4c4c4d;
}

.auth-wrapper p{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.auth-wrapper a{
    color: #666769;
    transition: 0.25s;
}

.auth-wrapper a:hover{
    color: #e19f4e;
}


@media (max-width: 750px) {
    .auth-wrapper form{
        width: 400px;
    }
}

@media (max-width: 450px) {
    .auth-wrapper{
        height: 500px;
    }
    .auth-wrapper form{
        width: 250px;
        height: 350px;
    }
    .auth-wrapper input {
        width: 200px;
        height: 35px;
        font-size: 13px;
    }
    .auth-wrapper h2{
        font-size: 20px;
    }
    .auth-wrapper button{
        width: 200px;
        height: 35px;
        font-size: 15px;
    }
    .auth-wrapper p{
        width: 100%;
        font-size: 11px;
    }
}