.carousel-item{
    width: 100%;
    height: 580px;
}
.carousel-item img{
    width: 100%;
    height: 580px;
    object-fit: cover;
}

.carousel{
    box-shadow: 0 26px 26px -26px rgba(0, 0, 0, 0.47);
}

@media (max-width: 620px) {
    .carousel-item{
        width: 100%;
        height: 370px;
    }
    .carousel-item img{
        width: 100%;
        height: 370px;
        object-fit: cover;
    }
}

@media (max-width: 400px) {
    .carousel-item{
        width: 100%;
        height: 280px;
    }
    .carousel-item img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
}