.footer-box {
    background: #2e3440;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 12px;
    margin-bottom: -150px;
    padding: 16px;
    width: 100%;
}
