.homepage {
    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.product-list {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    font-family: gilory;
    text-transform: uppercase;
    background-color: #faf3ed;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(216, 169, 117, 0.59);
;

}
.product-list h2 {
    color: #4c4c4d;
    padding-bottom: 30px;
    padding-top: 30px;
}


.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-button{
    position: absolute;
    top: 77%;
    left: 38%;
    background-color: transparent;
    border: 3px solid #4c4c4d;
    color: #4c4c4d;
    font-size: 40px;
    text-transform: uppercase;
    transition: 0.25s;
    border-radius: 10px;
}

.carousel-button:hover{
    border: 3px solid #4c4c4d;
    color: #4c4c4d;
    background-color: rgba(216, 169, 117, 0.51);
}

@media (max-width: 620px) {
    .product-list{
        box-shadow: 0 0 16px rgba(216, 169, 117, 0.41);
    }
}
@media (max-width: 400px){
    .product-list h2{
        font-size: 18px;
    }
}

