.product-list {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    border: #0b0b0b 1px solid;
    padding: 30px;
}
.product-list h3 {
    margin-bottom: 10px;
}


.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homepage {
    display: flex;
    justify-content: center;
    margin: 10px;
    border: #0b0b0b 1px solid;
}