nav{
    background: #faf3ed;

    width: 100%;
    display: flex;
    /*box-shadow: 0 0 13px rgba(0, 0, 0, 0.16);*/
}

.logo-container{
    height: 100px;
    width: 300px;
}

.logo-container img{
    height: 100px;
    width: 300px;
    object-fit: cover;
}

.login{
    position: absolute;
    right: 30px;
    top: 30px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    background: transparent;
    font-family: gilory;
    color: #67686a;
    border: 2px solid #67686a;
    border-radius: 4px;
    transition: color 0.5s;
    font-size: 16px;
}

.login:hover{
    color: white;
    background: #d8a975;
    border: 2px solid transparent;
}

.links ul{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

.links li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
}

.links a{
    font-weight: 700;
    display: block;
    padding-bottom: 5px;
    color: #67686a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.25s;
    border-bottom: 2px solid transparent;
}

.links a:hover{
    color: #e29f4f;
    border-bottom: 2px solid #e29f4f;
}

.hamburger {
    display: none;
    width: 40px;
    user-select: none;
    position: absolute;
    top: 37px;
    right: 10px;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;

    background-color: #e19f4e;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;

}


.hamburger.is-active span:nth-child(1){
    transform: translate(3px,-3px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px,0px)
}

.hamburger.is-active span:nth-child(3){
    transform: translate(0px,5px) rotate(-45deg);
}


@media(max-width:900px) {
    .links li{
        padding: 0 15px 0 15px;
    }

    .logo-container{
        width: 200px;
    }
    .logo-container img {
        width: 200px;
    }

    .links a{
        font-size: 15px;
    }

    .login{
        height: 35px;
        width: 60px;
        font-size: 14px;
    }
}

@media (max-width: 620px) {
    .hamburger {
        display: block;
    }
    nav{
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .links ul {
        flex-direction: column;
    }
    .links li {
        margin-bottom: 10px;
    }
    .login{
        position: relative;
        top: initial;
        right: initial;
    }
    .login-button{
        display: none;
        padding-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .hamburger span {
        width: 30px;
        height: 3px;
    }
    .hamburger.is-active span:nth-child(1){
        transform: translate(3px,0px) rotate(45deg);
    }
    .hamburger.is-active span:nth-child(3){
        transform: translate(1px,5px) rotate(-45deg);
    }
}