@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap');

@font-face{
    font-family: 'gilory';
    src: url('fonts/Gilroy GEO Heavy.ttf');
}

.card-wrapper{
    font-family: 'gilory', sans-serif;
    color: #67686a;
    margin: 0 10px 40px 10px;
    padding-top: 10px;
    width: 220px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.16);
    transition: .4s;
    background-color: white;
}

.card-wrapper:hover{
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.42);
    transform: translate(0px, -8px);
    transition: .6s;
}

.product-image{
    width: 220px;
    height: 220px;
}

.product-image img{
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.card-name{
    font-family: 'gilory', sans-serif;
    width: 100%;
    height: 55px;
    padding: 5px 5px 0 5px;
    text-align: center;
    font-size: 14px;
}

.card-price{
    font-family: 'gilory', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #e29f4f;
    padding-bottom: 5px;
    margin: 0;
    letter-spacing: 1px;

}

.details{
    font-family: 'gilory', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border:0;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    letter-spacing: 1px;
    background-color: #d8a975;
    transition: all 0.25s;
}

.details:hover{
    color: #4c4c4d;
    background-color: #e19f4e;
}

@media (max-width: 620px) {
    .product-image{
        width: 170px;
        height: 170px;
    }
    .product-image img{
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
    .card-wrapper{
        width: 170px;
        height: 323px;
    }
    .details{
        padding: 10px;
        font-size: 18px;
    }
    .card-price{
        font-size: 24px;
    }
    .card-name{
        height: 40px;
        font-size: 12px;
        padding: 5px 5px 0 5px;
    }
}

@media (max-width: 400px) {
    .product-image{
        width: 120px;
        height: 120px;
    }
    .product-image img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .card-wrapper{
        width: 120px;
        height: 253px;
    }
    .details{
        padding: 8px;
        font-size: 13px;
    }
    .card-price{
        font-size: 18px;
    }
    .card-name{
        font-size: 8px;
        padding: 5px 5px 0 5px;
    }
}